.formu form{
    
    text-align: center;
    font-family: arial;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .formu form{
    padding-top: 20%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .formu form{
        padding-top: 19%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 5120px) {
    .formu form{
        padding-top: 5%;
    }
    
}

p{
    display: flex;
    justify-content: center;
}

footer
{
    padding-top: 37%
}

.global-footer
{
    color: white;
    text-align: center;
    font-family: arial;
    border: 10px solid midnightblue;
    padding: 15px 20px;
    background-color: midnightblue;
}

.bottom
{
    background-color:cornflowerblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

body
{
    background-color: lightcyan;
}


body
{
    background-color: lightcyan;
  
}


label {
    margin-top:0px;
    display:block;
    padding: 10px

 }


input, textarea, select, option {
    background-color:#FFF3F3;
 }


input, textarea, select {
    padding:7px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
 }


input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
 }


input[type=submit], input[type=reset] {
    width:100px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
    
    
 }

.haut_page
{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    opacity: 60%; 
}

.global-footer
{
    font-size: x-large;
}

