*{
    font-family: sans-serif;
}

 /* Navbar*/ 
.entete{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
}

/* Navbar*/
.entete a{
    background-color: rgb(66, 49, 49);
    border: none;
    color: wheat;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    background-color: black;
    text-decoration: underline;

    transition: 0.2s background;
}

/* Navbar*/
.entete a:hover{
    background: orange;
    transition: 0.2s background;
}

/* Navbar*/
.entete{
    background-color: black;
}

head{
    font-size: 25px;
    font: small-caption;
}
h1{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    border-radius: 4px;
}

h2{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

h3{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}



body {
    margin: 5%;
    padding: 5%;
    font: x-large;
    font-size: 16px;
}


/* Bannière*/
.ban{
    height: 50%;
    width: 100%;
    border-radius: 4px;
    transition: 0.2s transform;
    cursor: pointer;
}
.ban:hover {
    transition: 0.2s transform;
    transform: scale(102%);
}

p{
    font-size: x-large;
    text-align: center;
}



/* @media*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .entete a{
        font-size: 42px;
        color: wheat;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .entete a{
        font-size: 45px;
        color: wheat;
    }
}


/* Flèche pour retour vers le haut de page*/
.haut_page
{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    opacity: 60%; 
}

