td {
    border: 1px solid #ddd ;
    width: 300px;
    height: 50px;
    padding: 15px 20px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    
}


th {
    border: 5px solid #191970;
    background-color: midnightblue;
    color: #fff;
    padding: 15px 20px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
         
}


table {
    font-size: 40px;
    text-align: left;
        
}


.icon
{
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.tableau_icon
{
    display: flex;
    justify-content: center;
}


h1
{
    color: white;
    text-align: center;
    font-family: arial;
    border: 10px solid midnightblue;
    padding: 15px 20px;
    background-color: midnightblue
}

body
{
    background-color:azure
}